.card {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    height: 26rem;
    width: auto;
    perspective: 1000px;

    border: none;
}

.card-inner {
    background-size: cover !important;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.name-wrapper {
    p {
        font-family: 'Roboto-light';
        color: black;
        font-size: 1.672rem;
    }
}

.card-description {
    p {
        font-family: 'Roboto-Regular';
        color: black;
        font-size: 17px;
    }
}

.nothing {
    position: relative;
    height: 10em;

    p {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1000%;
        color: black;
    }
}

@media screen and (min-width:0px) and (max-width:1199px) {
    .card-description {
        p {
            font-size: 1rem;
        }
    }
}

@media screen and (min-width:450px) and (max-width:767px) {
    .card {
        height: 30rem;
    }

    .card-img {
        max-width: 20rem;
    }
}

@media screen and (min-width:326px) and (max-width:449px) {
    .nothing {
        p {
            top: 40%
        }
    }

    .card {
        height: 15rem;
    }

    .card-img {
        max-width: 10rem;
    }

    .card-description {

        padding: 7px !important;

        p {
            font-size: 0.65rem;
        }
    }

    .name-wrapper {
        p {
            font-size: 1.1rem;
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width:300px) and (max-width:325px) {
    .nothing {
        p {
            top: 30%
        }
    }

    .card {
        height: 12rem;
    }

    .card-img {
        max-width: 8rem;
    }

    .card-description {

        padding: 5px !important;

        p {
            font-size: 0.5rem;
        }
    }

    .name-wrapper {
        padding: 5px !important;

        p {
            font-size: 1rem;
            margin-bottom: 0;
        }
    }
}


@media screen and (min-width:0px) and (max-width:299px) {
    .card {
        height: 10rem;
    }

    .card-img {
        max-width: 6.5rem;
    }

    .card-description {

        padding: 5px !important;

        p {
            font-size: 0.5rem;
        }
    }

    .name-wrapper {
        padding: 5px !important;

        p {
            font-size: 1rem;
            margin-bottom: 0;
        }
    }
}