.toup-dark{
    background: no-repeat url('../../../assets/Icons/left-arrow-dark.svg');
    transform: rotate(90deg);
    height: 2rem;
    width: 2rem;
    opacity: 0.7;
    &:hover{
        opacity: 1;
    }
}

.toup-light{
    background: no-repeat url('../../../assets/Icons/left-arrow.svg');
    transform: rotate(90deg);
    height: 2rem;
    width: 2rem;
    opacity: 0.7;
    &:hover{
        opacity: 1;
    }
}