
.closed {
    .vertical {
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, background-color 0.2s ease-in-out;
      transform: rotate(-90deg);
    }
    .horizontal {
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, background-color 0.2s ease-in-out;
      transform: rotate(-90deg);
      opacity: 1;
    }
  }
  
  .opened {
    opacity: 1;
    .vertical {
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, background-color 0.2s ease-in-out;
      transform: rotate(90deg);
    }
    .horizontal {
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, background-color 0.2s ease-in-out;
      transform: rotate(90deg);
      opacity: 0;
    }
  }
  
  .circle-plus {
      height: 2.5em;
      width: 2.5em;
      font-size: 1em;
      opacity: .7;
  }
  
  .circle-plus .circle {
      position: relative;
      width: 2.55em;
      height: 2.5em;
  }
  .circle-plus .circle .horizontal {
      position: absolute;
      width: 30px;
      height: 3px;
      left: 50%;
      margin-left: -15px;
      top: 50%;
      margin-top: -1.5px;
  }
  .circle-plus .circle .vertical {
      position: absolute;
      width: 3px;
      height: 30px;
      left: 50%;
      margin-left: -1.5px;
      top: 50%;
      margin-top: -15px;
  }
  
  
  .dark-plus{
    div{
        background-color: #6BA312;
    }
  }
  .light-plus{
    div{
        background-color: #7678C4;
    }
    
  }
  
  .slide-box{
    min-height: 700px;
    max-height: fit-content;
  }

  .accordion {
    --bs-accordion-color: none;
    --bs-accordion-bg: none;
    --bs-accordion-transition: none;
    --bs-accordion-border-color: none;
    --bs-accordion-border-width: none;
    --bs-accordion-border-radius: none;
    --bs-accordion-inner-border-radius: none;
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: none;
    --bs-accordion-btn-bg: none;
    --bs-accordion-btn-icon: none;
    --bs-accordion-btn-icon-width: none;
    --bs-accordion-btn-icon-transform:none;
    --bs-accordion-btn-icon-transition: none;
    --bs-accordion-btn-active-icon: none;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: none;
    --bs-accordion-active-bg: none;
}

.accordion-body{
    padding-top: 0;
}

.cert-links{
    &:hover{
        cursor: pointer;
    }
}

.cert-button{
    &:hover{
        .dark-plus{
            div{
                background-color: #bdff52;
                transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, background-color 0.2s ease-in-out;
            }
        }
        .light-plus{
            div{
                background-color: #373a8b;
                transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, background-color 0.2s ease-in-out;
            }
        }
    }
}


@media screen and (min-width:0px) and (max-width:1199px) {
  .lect-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    .med-w-100{
      width: 100%;
    }
  }
  .lectur-image-wrapper{
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: center;
    img{
      width: 50%;
    }
  }
  .cert-button{
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .lectur-image-wrapper{
    img{
      width: 90%;
    }
  }
}

@media screen and (max-width:575px) {
  .fullname{
    p{
      font-size: 30px;
    }
  }
  .rob-bold, .inter-bold, .rob-regular{
    p{
      font-size: 15px;
    }
  }
  .rob-medium{
    p{
      font-size: 18px;
    }
  }
  .carousel-control-prev-icon, .carousel-control-next-icon{
    width: 1rem;
    height: 1rem;
  }
  .carousel-control-next, .carousel-control-prev{
    width: 1rem;
  }
  .lect-wrapper{
    width: 90% !important;
  }
  .tagline {
    p{
      font-size: 38px;
    }
  }
}


@media screen and (max-width:369px) {
  .fullname{
    p{
      font-size: 25px;
    }
  }
  .rob-bold, .inter-bold, .rob-regular{
    p{
      font-size: 12px;
    }
  }
  .rob-medium{
    padding: 0 !important;
    p{
      font-size: 14px;
    }
  }
  .cert-button{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .circle-plus .circle .horizontal {

    width: 20px;


    margin-left: -10px;

    margin-top: -1px;
}
.circle-plus .circle .vertical {


    height: 20px;

    margin-left: -1px;

    margin-top: -10px;
}

}