.dark{

    background:  no-repeat center url("../assets/Backgrounds/Background_dark.svg");
    background-size: cover;
}

.light{
    background:  no-repeat center url("../assets/Backgrounds/Background.svg");
    background-size: cover;
}

.dark-courses{

    background:  no-repeat center url("../assets/Backgrounds/Background_courses_dark.svg");
    background-size: cover;
}

.light-courses{
    background:  no-repeat center url("../assets/Backgrounds/Background_courses.svg");
    background-size: cover;
}