<section id="courses" class="my-5 pb-5">
    <div class="row justify-content-between">
        <div class="col-xl-5 col-sm-4 col-3 underline"
            [ngClass]="{'underline-dark' : (theme | async), 'underline-light' : !(theme | async)}">

        </div>
        <div class="col-xl-2 col-sm-4 col-6 tagline" [ngClass]="{'dark-tagline' : (theme | async), 'light-tagline' : !(theme | async)}">
            <p>Курси</p>
        </div>
        <div class="col-xl-5 col-sm-4 col-3 underline"
            [ngClass]="{'underline-dark' : (theme | async), 'underline-light' : !(theme | async)}">

        </div>
    </div>
    <div class="m-5">
        <div class="row courses-wrapper py-1 py-md-5 py-lg-5 py-xl-5" [ngClass]="{'courses-wrapper-dark' : (theme | async), 'courses-wrapper-light' : !(theme | async)}">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 my-3 px-1 px-lg-4 px-xl-4 px-md-4 crs" *ngFor="let item of courses" >
                <app-courses-item [coursesItem]="item"></app-courses-item>
            </div>
        </div>

        
    </div>
</section>