.form-title {
    p {
        font-family: 'KyivSerif-Regular3';
        font-size: 54pt;
        font-weight: 200;
        letter-spacing: 2pt;
        text-align: center;
    }
}

.dark-title,.dark-invite{
    p {
        color: white;
    }
}

.light-title, .light-invite{
    p {
        color: #1D3637;
    }
}

.form-wrapper {
    border-radius: 20px;
    background: rgba(217, 217, 217, 0.1);
}

.invite-text {
    text-align: center;
    font-size: 36px;
    p {
        font-family: 'KyivTypeSerif-Light2';
    }
}


.first-block-light,
.third-block-light,
.first-block-dark,
.third-block-dark {
  input,
  textarea {
    border-radius: 15px;
    border: 1px solid #000;
    opacity: 0.5;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.30) inset;
    width: 100%;
    padding-left: 20px;
    transition: outline 0.2s ease-in-out;
  }

  input {
    height: 50px;
  }

  textarea {
    height: 100px;
    padding-top: 10px;
  }
}

.first-block-light,
.third-block-light {
  input,
  textarea {
    background: #7BA3BC;
    color: black;

    &::placeholder {
      color: hsla(182, 31%, 16%, 0.7);
    }

    &:focus,
    &:focus-visible {
      outline: solid 1px #616297;
    }
  }
}

.first-block-dark,
.third-block-dark {
  input,
  textarea {
    background: #1D3637;
    color: white;

    &::placeholder {
      color: hsla(0, 0%, 100%, 0.336);
    }

    &:focus,
    &:focus-visible {
      outline: solid 1px #6BA312;
    }
  }
}



.error-message {
    padding-left: 10px;
    padding-top: 5px;
}

.middleline-dark,  .middleline-light{
    height: 1px;
}
.middleline-dark{
    border-bottom: solid 1px #6BA312;
}
.middleline-light {
    border-bottom: solid 1px #7678C4;
}

.formsuccess{
  opacity: 1 !important;
  z-index: 1 !important;
}

.success-form{
  position: absolute;
  border-radius: 20px;
  top:0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: -1;
  opacity: 0;
  background-color: hsla(0, 0%, 0%, 0.7);
  transition: all 0.5s ease-in-out;
  p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  &.dark-success{
    p{
      color:#6BA312;
      font-size: 30px;
    }
  }
  &.light-success{
    p{
      color: white;
      font-size: 30px;
    }
  }
}
